<div
  class="absolute top-[0px] z-50 h-[calc(100%)] w-[48px] bg-white flex flex-row border"
>
  <div
    class="z-50 bg-[#fff] w-[48px] flex flex-col items-start border-0 border-r border-solid border-gray-300 justify-between"
  >
    <div>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-accent rounded-none ': subMenu === 'capas'
        }"
        (click)="clickToogleMenu('capas')"
      >
        <mat-icon class="material-icons-round">layers</mat-icon>
      </button>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-accent rounded-none ': subMenu === 'leyendas'
        }"
        (click)="clickToogleMenu('leyendas')"
      >
        <mat-icon class="material-icons-round">view_list</mat-icon>
      </button>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-accent rounded-none ': subMenu === 'busqueda'
        }"
        (click)="clickToogleMenu('busqueda')"
      >
        <mat-icon class="material-icons-round">search</mat-icon>
      </button>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-accent rounded-none ': subMenu === 'imprimir'
        }"
        (click)="clickToogleMenu('imprimir')"
      >
        <mat-icon class="material-icons-round">print</mat-icon>
      </button>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-accent rounded-none ': subMenu === 'streetview'
        }"
        (click)="clickToogleMenu('streetview')"
      >
        <mat-icon class="material-icons-round">3d_rotation</mat-icon>
      </button>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-accent rounded-none ': subMenu === 'config'
        }"
        (click)="clickToogleMenu('config')"
      >
        <mat-icon class="material-icons-round">settings</mat-icon>
      </button>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-accent rounded-none ': subMenu === 'login'
        }"
        (click)="clickToogleMenu('login')"
      >
        <mat-icon class="material-icons-round">login</mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-icon-button
        class=""
        color="primary"
        [ngClass]="{
          'text-white bg-slate-600 rounded-none ': subMenu === 'logout'
        }"
        (click)="clickToogleMenu('logout')"
      >
        <mat-icon class="material-icons-round">logout</mat-icon>
      </button>
      <button
        mat-icon-button
        class="bg-accent text-white rounded-none"
        color="primary"
        (click)="clickToogleMenu()"
      >
        <mat-icon class="material-icons-round">{{
          this.toogleMenu ? "arrow_back" : "arrow_forward"
        }}</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="z-40 h-[calc(100%-64px)] min-h-full bg-white w-[272px] menu__container top-0 absolute left-[48px] shadow-lg"
    [ngClass]="{ 'menu__container--open': toogleMenu }"
  >
    <div
      class="bg-[#2b6cb0] h-[48px] w-full text-left text-base text-white font-medium flex flex-row justify-start items-center border-0 border-b-4 border-solid border-accent pl-2"
    >
      <span>
        {{ subMenu | uppercase }}
      </span>
    </div>
    <div class="overflow-y-auto overflow-x-hidden max-h-[calc(100%-48px)]">
      @if (subMenu==='capas') { }

      @if (subMenu==='leyendas') {
        <app-leyend class="h-full"></app-leyend>
       }
      <app-filtro
        class="h-full"
        [ngClass]="{ hidden: subMenu !== 'busqueda' }"
      ></app-filtro>
    </div>
  </div>
</div>
